
#navbar{
    position: fixed;
    top: 0; 
    color: white;
    background-color: #131921;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px;
}

#cname{
    margin-left: 2%;
}

#cname:hover{
    color: rgb(183, 202, 253);
    
}

#logo{
    border-radius: 50%;
}


body{
    background-color: white;
    display: flex;
    flex-direction: column;
}


#jumbotron {
    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(183, 202, 253, 0.842), rgb(255, 255, 255)), url('banner.webp2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5%;
    padding-left: 10%;
    /*border: solid;*/
}

#jumbotron h3, p{
    color: black;
}

#customer{
    display: flex;
    padding-left: 1%;
    /* border: solid white; */
    /* justify-content: center; */
}

#data{
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    /* border: solid red; */
}

.card-text{
    font-size:small;
    color: black;

    /* border: solid white; */
}


.btn-custom {
    background-color: rgb(0, 44, 0); 
    color: white; /* Cambia el color del texto para que sea legible en el fondo verde */
  }
  
  .btn-custom:hover {
    background-color: rgb(26, 140, 22, 255); /* Cambia el color de fondo en el estado hover */
  }

#contractId{
    font-size: smaller;
    text-align: left;
    color: gray;
}

#btn-container{
    /* border: solid white; */
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

#prefooter{
    color: black;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: smaller;
    /*border: solid;*/
    /* background: linear-gradient(to top, #00261ca6, black); */
    background-image: linear-gradient(rgb(255, 255, 255), rgba(183, 202, 253, 0.842)), url('banner.webp2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding-left: 5%;
    padding-right: 10%;
}

#logoT{
    height: 300px;
    filter: invert(100%); /* Invert the color of the png image*/
}

/* #logoT:hover{
    background-color: #00261C;
} */

#colImg{
    /* border: solid white; */
    padding-top: 5%;
    padding-bottom: 5%;
}

#col2, #col3{
    text-align: left ;
    /* border: solid; */
    min-width: 279px;
    padding-top: 5%;
    padding-bottom: 5%;
}


footer {
   /* border: solid orange;*/
    display: flex;           /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    padding-top: 0.5%;
    color: white;
    background-color: #131921;
}

footer p{
    color: white;
}


@media (max-width: 768px) {
    #data, footer {
        font-size:x-small; /* Tamaño de fuente ajustado para dispositivos móviles */
    }

    #navbar{
        font-size: smaller;
    }

    #btndlr{
        font-size: smaller;
    }
}

